<h1> Create a new user</h1>
<p>
    <% @user.errors.full_messages.each do |error| %>
       <p><%= error %></p>
    <% end %> 
</p>
<% if false %>
<form method='POST' action='/users' accept-charset="UTF-8" >
    <label>Username</label>
    <input type='text' name='user[username]' placeholder='Your username'>

    <label>Email</label>
    <input type='email' name='user[email]' placeholder='Your email'>

    <label>Password</label>
    <input type='password' name='user[password]' >

    <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
    
    <input type='submit' value='Save' > %>
</form> 

<%= form_tag("/users", method: "POST") %>
  <%= label_tag(:username, "username")%>
  <%= text_field_tag(:username)%>

  <%= label_tag(:email, "email")%>
  <%= text_field_tag(:email)%>

  <%= label_tag(:password, "password")%>
  <%= password_field_tag(:password)%>

  <%= submit_tag("Submit") %>
  
<% end %>

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  
  <%= f.label :email %>
  <%= f.email_field :email %>
  
  <%= f.label :password %>
  <%= f.password_field :password %>
  
  <%= f.submit %>
<% end %>
